@import url('https://fonts.googleapis.com/css2?family=Angkor&family=Poppins:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$red-shade: #A20E0E;
$black-shade: #2B2B2B;

// font-family: 'Angkor', serif;
// font-family: 'Poppins', sans-serif; 
// font-family: 'Roboto', sans-serif;

.titles{
    font-family: 'Angkor', serif;
}

.ProfileIcon {
    width: 70px;
    height: 70px; /* Define explicitamente a largura e a altura */
    object-fit: cover; /* Garante que a imagem preencha o contêiner */
    border-radius: 50%; /* Aplica o corte circular */
}

.ProfileName{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding-left: 30px;
    color: black;
}

.tweet{
    font-family: 'Roboto', sans-serif;
    display: 'block';
    margin-bottom: 15px;
}

.tweet_text{
    font-family: 'Roboto', sans-serif;
    padding: 0px 40px 0px 40px;
}

.tweet_like{
    font-family: 'Roboto', sans-serif;
    padding: 10px 40px 20px 40px;
}


.custom-box {
    background-color: white;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 15px;
}


.BoxCreate {
    display: flex;
    width: 100%;
    background-color: #00003f;
    margin-bottom: 10px;
}

.BoxCreate_Typography {
    margin-left: 20px;
    color: white; 
}

.BoxCreate_bottom {
    display: flex;
    width: 100%;
    box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
    padding: 4px;
    flex-direction: column;
}

.BoxCreate_bottom_intern{
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.BoxCreate_button_box{
    width: 30%;
}

.BoxCreate_button_box_button{
    width: 100%;
}

#navbar-top{
    background-color: white;
    color: $black-shade;
}

#nav-logo{
    height: 44px;
}